/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li a {
	padding: 0 20px;
	font-size: 1.2em;
	color: black;
}

nav li img {
	margin-left: 30px;
}

li a {
	text-decoration: none;
}

li a:hover {
	font-weight: 700;
	cursor: pointer;
}

#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 100px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}

#contact > * {
	text-align: center;
}

#contact h2{
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 2em;
}

footer{
	background: #FFFFFF;
	width: 100%;
}

.filter-container{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-top: 51px;
	margin-bottom: 51px;
}

.filter-container li{
	color: #1D6154;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	border-radius: 60px;
	border: 1px solid #1D6154;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100px;
	cursor: pointer;
}

.submit-button{
	width: 180px;
	cursor: pointer;
}

.submit-button:hover{
	background-color:  #0E2F28;
}


/* Dans la règle CSS ci-dessous la forme du selecteur est du à un problème
 de priorité de color qui ne s'appliquait pas sinon  */

.filter-container li.selected-filter{
	background-color: #1D6154;
	color: white;
}

.filter-container li:hover{
	background-color: #1D6154;
	color: white;
}


/************* Règle exclusive à la page Login *******************/

.login-main-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	margin: auto;
	padding-top:  100px;
}

.login-form{
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-top:30px;
	width: 100%;
}

.login-form input {
	height: 50px;
	width: 100%;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.login-form label {
	margin: 2em 0 1em 0;
}

.login-main-container a{
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration-line: underline;
	}

.login-form label{
	color: #3D3D3D;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}



	#submit{
		width: 180px
	}

	.error-display{
		margin-top: 25px;
		margin-bottom: 30px;
		color: #B1663C;
		font-weight: 600;
		font-size: large;
		max-height: 150px;
		overflow: auto;
		padding: 20px;
	}

	.error-display p{
		margin-bottom: 10px;
	}



	.login-main-container a{
		margin-bottom: 150px;
	}


	/************* Editor mode*******************/

	.editor-mode-banner{
		width: 100%;
		height: 59px;
		background-color: black;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		text-align: center;
		font-size: 16px;
		font-weight: 400;
	}

	.editor-mode-banner a{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 11.42px;
		text-decoration: none;
		color: white;
	}

.portfolio-header{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 31px;
	margin-bottom: 1em;
}

.edition-button a{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2.42px;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
}

.edition-button a:hover{
	font-weight: 700;
}


.more-margin{
	margin-bottom: 100px;
}

/************* Modal *******************/

.class-modal{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background:  rgba(0, 0, 0, 0.8);
}

.modal-wrapper{
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	max-width: 630px;
	overflow: auto;
	padding: 26px 105px 45px 105px;
	border-radius: 10px;
}

.modal-wrapper a{
	align-self: flex-end;
}

.modal-wrapper a:visited{
	color: #3D3D3D;
}

.modal-wrapper a:active{
	color: #3D3D3D;
}

.modal-gallery{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 6px;
	grid-row-gap: 25px;
}

.modal-gallery figure{
	max-width: 78px;
	max-height: 104px;
	position: relative;
}

.modal-gallery img{
	max-width: 78px;
	height: 104px;
	position: relative;
	z-index: 1;
}

.trash-button{
	background-color: #000;
	width: 17px;
	height: 17px;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	position: absolute;
	top: 6px;
	right: 6px;
	z-index: 2;
}


.modal-separator{
	border: 1px solid #B3B3B3;
	width: 420px;
}

.submit-button{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	text-align: center;
	border-radius: 60px ;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 0 20px ;
}

.modal-nav-bar{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title-modal-black{
	color: #000;
	font-family: Work Sans;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.AddImageZone{
	background-color: #E8F1F6;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	text-align: center;
	gap: 6px;
	padding-top: 13px;
	padding-bottom: 19px;
}

.add-photo-button{
	height: 50px;
	font-size: 1.2em;
	border: none;
	font-family: 'syne';
	color: #306685;
	background-color: #CBD6DC;
	padding: 10px 33px;
	border-radius: 60px;
	margin: auto;

}

form .modal-separator{
	margin-top: 35px;
	margin-bottom: 35px;
}

.login-form .submit-button{
	align-self:  center;
}

.login-form select{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

button:disabled{
	background: #A7A7A7;
}

button:disabled:hover{
	background: #A7A7A7;
}

/************* Hidden *******************/

.hidden{
	display: none;
}

